default_layout "compact"
default_mode "locked"
on_force_close "detach"
pane_frames true
simplified_ui false
theme "melange-dark"

plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider" {
        cwd "/"
    }
}
keybinds clear-defaults=true {
    locked {
        bind "Ctrl f" { SwitchToMode "normal"; }
    }
    normal {
        bind "d" { Detach; }
        bind "p" { SwitchToMode "pane"; }
        bind "q" { Quit; }
        bind "r" { SwitchToMode "resize"; }
        bind "s" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "locked"
        }
    }
    pane {
        bind "h" "Left" { MoveFocus "Left"; }
        bind "l" "Right" { MoveFocus "Right"; }
        bind "j" "Down" { MoveFocus "Down"; }
        bind "k" "Up" { MoveFocus "Up"; }
        bind "-" { NewPane "Down"; SwitchToMode "locked"; }
        bind "%" { NewPane "Left"; SwitchToMode "locked"; }
        bind "p" { SwitchFocus; }
        bind "$" { NextSwapLayout; }
        bind "x" { CloseFocus; SwitchToMode "locked"; }
        bind "s" { SwitchToMode "scroll"; }
        bind "/" { SwitchToMode "search"; }
    }
    resize {
        bind "h" { Resize "Left"; }
        bind "l" { Resize "Right"; }
        bind "j" { Resize "Down"; }
        bind "k" { Resize "Up"; }
        bind "=" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
    }
    scroll {
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "D" { PageScrollDown; }
        bind "U" { PageScrollUp; }
        bind "J" { ScrollToBottom; }
        bind "K" { ScrollToTop; }
        bind "Enter" { SwitchToMode "Locked"; }
    }
    search {
        bind "j" { Search "down"; }
        bind "k" { Search "up"; }
        bind "Enter" { SwitchToMode "Locked"; }
    }
    session {
    }
    shared_except "locked" {
        bind "Ctrl f" { SwitchToMode "locked"; }
    }
    shared_except "normal" "locked" {
        bind "Enter" "Esc" { SwitchToMode "Locked"; }
    }
}
